body {
    overflow-y: hidden;
    overflow-y: hidden;
}

.calculate {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.output-container {
    background-color: blue !important;

}

.buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr) !important;
    grid-template-columns: repeat(3, 1fr) !important;
    place-items: center;
    height: 25rem !important;
    width: 25rem !important;
}